.grid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
      to right,
      rgb(229, 183, 26),
      transparent 1px
    ),
    linear-gradient(to bottom, rgb(229, 183, 26) 1px, transparent 1px);
  background-size: 50px 50px;
  pointer-events: none;
  z-index: -1;
}

.grid-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background: radial-gradient(circle, transparent, black);  */
  background: radial-gradient(circle,transparent,black);

}

